* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 200;
   --p-color: #37DA9D;
}

body {
   position: relative;
}

.pyramid-container {
   position: relative;
   width: 400px;
   height: 340px;
   margin: 15% auto;

   cursor: pointer;

   color: transparent;

   -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
   clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}

.pyramid-container div {
   position: absolute;
   top: 0;

   width: 100%;
   height: 100px;

   -webkit-transition: all 1s ease;
   transition: all 0.7s ease;
   text-align: center;
   background-color: var(--p-color);

   line-height: 100px;
}

.layer-1 {
   z-index: 2;
}

.layer-2 {
   z-index: 1;
}

.pyramid-container:hover,
.pyramid-container:active,
.pyramid-container:focus {
   color: white;
}

.pyramid-container:hover .layer-2,
.pyramid-container:active .layer-2,
.pyramid-container:focus .layer-2 {
   top: 120px;

   background-color: var(--p-color);
}

.pyramid-container:hover .layer-3,
.pyramid-container:active .layer-3,
.pyramid-container:focus .layer-3 {
   top: 240px;

   background-color: var(--p-color);
}


/* BOTTOM NAVIGATION */

.navigation {

   display: flex;
   align-items: flex-end;
   justify-content: center;

   margin: 10% auto;

   font-size: 2rem;
}

a {
   text-decoration: none;

   color: #ebebeb;
}

.navigation a:nth-child(2) {
   padding: 0 30px;
}

.navigation a:hover {
   cursor: pointer;

   color: #bbb9bb;
}

.navigation a:active {
   transform: translateY(1px);
}

/* MEDIA QUERIES */

@media screen and (max-width: 500px) {
   .pyramid-container {
      width: 90%;
   }
}